* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    text-align: center;
    background-color: #ffffff;
  }
  
  .roboto {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: #183d4e;
  }
  
  .d-flex {
    display: flex;
  }
  
  .j-center {
    justify-content: center;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .w-40 {
    width: 40vw;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .title-font {
    font-family:'Patua One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #000000;
  }
  
  h1 {
    margin: 15vh 0 8vh 0;
    font-size: 2.4rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  p {
    margin-bottom: 4vh;
  }
  
  .message-box {
    height: 7.65vh;
    margin: 1% 0 2% 0;
    padding: 1%;
    font-weight: normal;
    font-size: 1.2rem;
    border: 1.5px solid #1AA6B7;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
  }
  
  .btn-style {
    margin: 1%;
    padding: 1.5%;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .btn-style:hover, .btn-style:focus {
    background-color: #b1e2ce;
    color: #fff;
    outline: none;
    transition: 0.3s;
  }
  
  .btn-style:disabled {
    background-color: rgb(0, 0, 0);
    cursor: no-drop;
  }
  
  .result-container {
    margin-top: 3%;
    text-align: start;
  }
  
  .result-fixed-message {
    color: #000000;
  }
  
  .result-text {
    white-space: pre-wrap;
  }
  
  @media screen and (max-width: 1200px) {
    .message-box, .result-container {
      width: 60vw;
    }
    .result-container {
      margin-top: 5%;
    }
    .btn-style {
      padding: 2%;
    }
  }
  
  @media screen and (max-width: 650px) {
    .message-box, .result-container {
      width: 80vw;
    }
    .result-container {
      margin-top: 10%;
    }
    .btn-style {
      padding: 3%;
    }
  }
  .container {
    max-width: 1080px;
    margin: 0 auto;
    background-color: #e7e7e7;
    border-radius: 20px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.308);
    margin-top: 0px;
}

#tela {
    border: 1px solid black;
    padding: 10px;
    max-width: 1080px;
    font-size: 18px;
}